html,
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
}

.container {
  max-width: 1183px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
}

p {
  margin-bottom: 13px;
  font-size: 35px;
}

::-webkit-scrollbar {
  border: 0px;
  width: 0px;
  height: 0px;
}

.settings,
.preview {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.settings__inputs {
  width: 100%;
}

.memes__list {
  width: 435px;
  height: 54px;
  padding-left: 20px;
  margin-bottom: 13px;
  border-radius: 15px;
  border: 1px solid #000;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(down-arrow.png) 96% / 6% no-repeat;
}

.upper__text,
.bottom__text {
  width: 393px;
  height: 54px;
  padding: 12px 20px;
  margin-bottom: 13px;
  border-radius: 15px;
  border: 1px solid #000;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  outline: none;
  resize: none;
}

.memes__wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  gap: 170px;
}

.meme__image {
  width: 568px;
  border-radius: 15px;
  border: 1px black solid;
}

@media (max-width: 1199px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .memes__wrapper {
    width: 100%;
    justify-content: center;
    gap: 80px;
  }

  .settings {
    width: 100%;
    max-width: 393px;
    align-items: center;
  }

  .preview {
    width: 100%;
    max-width: 393px;
    align-items: center;
  }

  .meme__image,
  .memes__list {
    width: 100%;
  }

  .upper__text,
  .bottom__text {
    width: -webkit-fill-available;
  }
}

@media (max-width: 865px) {
  .container {
    padding: 0 10px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  .settings,
  .preview {
    gap: 30px;
  }

  .memes__wrapper {
    gap: 30px;
  }

  .memes__list {
    height: 35px;
  }

  .upper__text,
  .bottom__text {
    height: 35px;
  }
}

@media (max-width: 430px) {
  .memes__wrapper {
    flex-direction: column;
  }
}
